* {
  margin: 0;
  box-sizing: border-box;
}
/*HEADER*/
.header {
  width: 100%;
  background-color: green;
}
.container-image {
  display: block;
  margin: 0 auto;
  width: 155px;
}
.image {
  width: 155px;
  margin-top: 10px;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 290px;
}
.list-item {
  font-family: "Rubik";
  color: #4a4a4a;
  font-size: 16px;
  padding: 10px 20px 13px 20px;
}

.link {
  text-decoration: none;
}

@media all and(min-width:768px) {
  .header {
    justify-content: space-between;
  }
}
/*MAIN*/
.main {
  background-color: #3cdbc0;
  height: 100vh;
}
.title {
  color: #ffffff;
  font-size: 40px;

  height: 100vh;
}
.title-inner {
  display: flex;
  justify-content: center;
}
